.kaufman__triangle {
    position:absolute;
     top: 0;       /*    O valor correto é 0  */
   right: -124px;     /*   O valor correto é -124px     */
    width: 660px;
    height: 636px;
    z-index: 0;
    display: flex;
    transform: rotate(15deg);
  }