.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
<<<<<<< HEAD
    margin: 0 auto;
=======
    margin: 0;
>>>>>>> 26dfe7d1be1a23e4cc763f427e18b3c46ef97ee6
  }