/*  NEEDS CORRECTION

Esta classe não recebe as propriedades  JUSTIFY-CONTENT  e MARGIN-TOP
Esta classe recebe a propriedade ALIGN-SELF
  
  */

.header__title {
    width: 730px;
    height: 96px;
    font-size: 102px;
    font-weight: bold;
    margin-left: 64px;
    align-self: center;
  }