.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
<<<<<<< HEAD
    margin: 0 auto;
=======
    margin: 0;
>>>>>>> 26dfe7d1be1a23e4cc763f427e18b3c46ef97ee6
  }